# --- Backend .NET ---
bin/
obj/
.vs/

# Config sensibili (meglio usare user-secrets)
appsettings.Development.json
# se in appsettings.json tieni segreti, ignora anche questo:
# appsettings.json

# --- Frontend React ---
frontend/node_modules/
frontend/build/
frontend/coverage/

# Env files React
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
